<% if not flash[:notice] == nil %>
    <div class="flash-message">
    <%= flash[:notice] %>
    </div>
<% end %>
<div class="container">
    <div class="row">
        <%= render'users/list', user:@user %> 
        <%= render 'books/list', books:@books %>
    </div>
</div>

