<% if not @book.nil? %>
    <%= render 'books/error', book:@book %>
<% end %>
<div class="container">
    <div class="row">
        <%= render'users/list', user:current_user %>
        <%= render 'books/list', books:@books %>
    </div>
</div>